@import url('https://fonts.cdnfonts.com/css/signika-sc-2');

:root {
    font-family: 'Signika SC', sans-serif;
    font-size: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    position: relative;
}

.notification-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-body {
    background-color: #1c1a1a;
    border: 3px solid #d43535;
    border-radius: 7px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
}

.notification-body::before {
    border-top: 14px solid #d43535;
    border-left: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid transparent;
    content: '';
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
}

.notification-body::after {
    border-top: 13px solid #1c1a1a;
    border-left: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid transparent;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.notification-body svg {
    fill: #FFF;
}

.notification-body .message {
    color: #FFF;
}